<!DOCTYPE html>
<html>
<head>
    <title>Game Loader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_webman.css') }}">
</head>
<body>
    <div class ="container">
        <header>Game Loader</header>
    </div>
    <div class="form-container">
        <table class="table-container">
            {% for file in files %}
                {% if loop.index0 % 4 == 0 %}
                    <tr>
                {% endif %}
                <td>
                    <table class="inner-table">
                        <tr>
                            <td>
                                <a href="{{ url_for('game_loader', filename=file) }}">
                                    <img class="disk" src="{{ url_for('static', filename='images/WiiDiskC.png') }}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('game_loader', filename=file) }}">
                                    <p class="isoname">
                                        {{ file }}
                                    </p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
                {% if loop.index % 4 == 3 or loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="button-container">
        <form action="/">
            <input type="submit" value="Return" class="wii-button">
        </form>
    </div>   
</body>
</html>
