.container {
    display: table;
    width: 100%;
}

header {
    font-size: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


form {
    margin-top: 20px;
}

.form-container {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="password"], input[type="submit"] {
    margin-bottom: 10px;
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.wii-button {
    width: 70px;
    height: 30px;
    border: 3px solid #315cfd;
    cursor: pointer;
    background: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.wii-button:hover {
    border-color: #E64011;
}

.wii-button:focus {
    outline: none;
}

.wii-button:active {
    background: #E64011;
    color: white;
}

p.conn_info {
    font-size: 14px;
}