.container {
    display: table;
    width: 100%;
}

header {
    font-size: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

form {
    margin-top: 20px;
}

.form-container {
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-table {
    width: 100%;
}

.link {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.disk {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.isoname {
    text-align: center;
    word-wrap: break-word;
}

td {
    width: 25%;
    vertical-align: top;
    padding: 5px;
}

p {
    font-size: 13px;
    margin: 0;
}

a {
    color: rgb(252, 34, 143);
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.wii-button {
    width: 70px;
    height: 30px;
    border: 3px solid #315cfd;
    cursor: pointer;
    background: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.wii-button:hover {
    border-color: #E64011;
}

.wii-button:focus {
    outline: none;
}

.wii-button:active {
    background: #E64011;
    color: white;
}
